<h3>BIENVENIDO A FoRenting</h3>
<fieldset >
       <legend>Seleccione el carro que desea alquilar</legend>
       <table>
           <thead >
               <tr>
                   <th>
                    <div class="row">
                        <div class="col s12 m4">
                          <div class="card">
                            <div class="card-image">
                              <img src="https://www.chevrolet.com.co/content/dam/chevrolet/south-america/colombia/espanol/index/cars/2019-beat/mov/04-images/2021-jelly-beat-azul-neptuno.jpg?imwidth=600">
                              <span class="card-title" style="position: inherit; color:black;"><strong>Spark Gt</strong></span>
                            </div>
                            <div class="card-content" class="card small: 10">
                              <p>Carro 4 puertas, Azul oscuro</p>
                            </div>
                            <div class="card-action" class="card small: 10">
                              <a href="#">Más Información</a>
                            </div>
                          </div>
                        </div>
                      </div>
                   </th>
                   <th>
                    <div class="row">
                        <div class="col s12 m4">
                          <div class="card">
                            <div class="card-image">
                              <img src="https://www.chevrolet.com.co/content/dam/chevrolet/south-america/colombia/espanol/index/cars/2018-camaro/04-images/negro-camaro-six-ss-2018.jpg?imwidth=600">
                              <span class="card-title" style="position:inherit; color: black;"><strong>Camaro</strong></span>
                            </div>
                            <div class="card-content small" class="card small: 5">
                              <p>Carro 2 puertas, negro</p>
                            </div>
                            <div class="card-action" class="card small: 5">
                              <a href="#">Más Información</a>
                            </div>
                          </div>
                        </div>
                      </div>
                   </th>
               </tr>
           </thead>
       </table>
</fieldset>

  