<footer class="page-footer" style="background-color: lightskyblue;">
    <div class="container" >
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">FoRenting</h5>
          <p class="grey-text text-lighten-4">Tienes alguna duda, no dudes en ponerte en contacto:</p>
        </div>
        <div class="col l4 offset-l2 s12" >
          <h5 class="white-text" ></h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Contactenos</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/18px-Facebook_f_logo_%282019%29.svg.png"></a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Instagram<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/18px-Instagram_logo_2016.svg.png"></a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Whatsapp<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/18px-WhatsApp.svg.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright 
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
