<nav>
    <div class="nav-wrapper" style="background-color: lightskyblue;">
      
      <a href="#!" class="brand-logo" ><i class="material-icons">local_taxi</i>FoRenting</a>
      <a href="#"  data-target="mobile-demo" class="sidenav-trigger" ><i class="material-icons" >menu</i></a>
      <ul class="right hide-on-med-and-down" >
        <li><a href="inicio.html">Inicio</a></li>
        <li><a href="acercade.html">Acerca de</a></li>
        <li><a href="contacto.html">Contactenos</a></li>
        <li><a href="login.html"><i class="material-icons">person</i></a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
